---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const skills = ["Julia","Stata","Matlab","R", "Python", "Fortran","Astro"];


const identity = {
  firstName: "Cristián",
  lastName:"Valencia",
  nationality: "Chilean",
  countryLive: "USA",
  university: "Washington University in St. Louis",
  occupation: "PhD Student in Economics",
  hobbies: ["photography", "baking", "reading", "playing the banjo"],
  econResearch: ["Development Economics", "Macroeconomics", "Firm Dynamics"],
};
---

<BaseLayout pageTitle={pageTitle}>

  <p>Here are a few facts about me:</p>

  <ul>
    <li>My name is {identity.firstName} {identity.lastName}. </li>
    <li>I am a {identity.occupation} from <a href = https://economics.wustl.edu/people/cristian-felipe-valencia-cassanello> {identity.university} </a>. </li>
    <li> Currently, my research interests are: </li>
    <ul class="list-disc list-inside ml-6">
      {identity.econResearch.map((interest) => (
        <li class="mt-2">{interest}</li>
      ))}
    </ul>
    {identity.hobbies.length >= 2 && (
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    )}
  </ul>
<p>Currently, I feel comfortable, in a scale from best to worst, using the following programming languages/software/frameworks:</p>
  <ul>
    {skills.map((skill) => (
      <li class="skill">{skill}</li>
    ))}
  </ul>

  <p> Married to my lovely partner <a href = "https://www.linkedin.com/in/melisa-gonz%C3%A1lez-v%C3%A9jar/?originalSubdomain=mx"> Melisa Gonzalez Véjar </a> </p>

  <p> Finally, this website was a product of translating the <a href="https://mrmierzejewski.com/hugo-theme-console/"> Hugo-Theme-Console </a> to <a href="https://astro.build/">Astro</a> + <a href ="https://jankraus.net/2024/04/05/how-to-build-a-simple-photo-gallery-with-astro/"> Jankraus' Photo Gallery</a> + some other personal modifications.</p>
  
</BaseLayout>