---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <br/>
  <p>This is where I will post about my journey learning Astro.</p>

  <div class="posts-list">
    {allPosts
      .filter((post: any) => !post.frontmatter.private)
      .sort((a: any, b: any) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
      .map((post: any) => (
        <div class="post">
          <div class="date">{new Date(post.frontmatter.pubDate).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}</div>
          <h1><a href={post.url} title={post.frontmatter.title}>{post.frontmatter.title}</a></h1>
          <p>{post.frontmatter.description}</p>
        </div>
      ))}
  </div>
</BaseLayout>