---
import SocialIcons from '../components/SocialIcons.astro';
import Header from '../components/Header_v2.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation_v2.astro';
import '../styles/console.css';
import '../styles/terminal-0.7.4.min.css';
import '../styles/animate-4.1.1.min.css';

const { pageTitle } = Astro.props;

const socialLinks = {
  github: "https://github.com/cvalencia09",
  linkedin: "https://linkedin.com/in/cristianvalencia09",
  email: "cristian.valencia09@gmail.com"
};

const currentPath = Astro.url.pathname.toLowerCase();
const displayPath = currentPath.startsWith('/') ? currentPath.slice(1) : currentPath;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="terminal">
    <div class="container">
      <div class="terminal-nav">
        <header class="terminal-logo">
            <div class="logo terminal-prompt">
              <a href="/" class="no-style true site-name">Cristian</a>:~#
                <a href={currentPath}>{displayPath}</a>/
            </div>
        </header>
          <Navigation />

      </div>
    </div>

    <div class="container">
      <h1>{pageTitle}</h1>
      <slot />
      <Footer />
      <SocialIcons socialIcons={socialLinks} />
    </div>
      <script>
        import "../scripts/menu.js";
      </script>
    
  </body>
</html>